.Home__proyects {
    display: flex;
    gap: 20px;
    text-align: center;
    padding: var(--space-3);
    box-sizing: border-box;
    justify-content: center;
}

.Home__title {
    text-align: left;
    padding: var(--space-6);
}