.LinkButton {
  position: relative;
  width: 200px;
  height: 50px;
  background-color: var(--color-bg-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: transform 250ms ease-in-out;
  color: white;
  object-fit: contain;
  /* filter: drop-shadow(16px 16px 20px red) invert(75%); */
  /* transition: opacity 2s ease-in-out; */
}

.LinkButton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,
      #ff0000fd,
      #ff9900,
      #ffff00,
      #33ff00,
      #00ffff,
      #3300ff,
      #ff00ff,
      #ff0000);
  background-size: 200% 100%;
  /* animation: rgbAlive 6s ease-in-out infinite alternate; */
  animation: rgbAlive 6s linear infinite alternate;
  opacity: 0;
  z-index: 0;
  transition: opacity 2s ease-in-out;
}

.LinkButton:hover::before {
  opacity: 1;

}

.LinkButton:hover {
  transform: scale(1.05);
  color: #fff;
  filter: none;
}

.LinkButton * {
  position: relative;
  z-index: 2;
}

@keyframes rgbAlive {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: -100% 0%;
  }
}


.LinkButton>a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: var(--font-size-2xl);
  text-decoration: none;
  font-weight: 500;
  width: 100%;
  height: 100%;
}

.LinkButton__icon {
  margin-right: 5px;
}